body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f3f8;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #333;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%; /* Added to expand to full width */
}

#newTodoItem {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  flex-grow: 1;
  width: 100%; /* Added to expand to full width */
}

#addTodoBtnItem {
  padding: 12px 24px; /* Increased padding for a bigger button */
  font-size: 16px;
  background-color: #47c850;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#addTodoBtnItem:hover {
  background-color: #3f9f41;
}

ul {
  list-style: none;
  padding: 0;
  margin: 20px auto;
  max-width: 400px;
}

li {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s, opacity 0.5s;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li.completed {
  color:#c9302c;
  background-color:green;
  border: 2px solid #ddd;
}

li.completed span{
  text-decoration: line-through;
}

li button {
  margin-left: auto;
  background-color: #d9534f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

li button:hover {
  background-color: #c9302c;
}
